#
# Hisense product Infomation
#
CONFIG_MACH_HISENSE_SMARTPHONE=y
CONFIG_HISENSE_VENDOR_NAME="Hisense"
CONFIG_HISENSE_PRODUCT_NAME="L771"
#
# Hisense charger function support
#
CONFIG_FUSB_30X=y
CONFIG_HISENSE_SGM41512_CHARGER=y
CONFIG_HISENSE_BATTERY_THERM_NTC_10K=y

CONFIG_BACKLIGHT_AW99703=y
#
# Hisense fingerprint device support
#
CONFIG_HS_FINGERPRINT=y
CONFIG_FINGERPRINT_SUNWAVE=y
CONFIG_FINGERPRINT_FPC_FPC1542=y
CONFIG_FINGERPRINT_VENDOR_CHECK=y
CONFIG_TOUCHSCREEN_SITRONIX_TS=y
CONFIG_TOUCHSCREEN_SITRONIX_TS_POWER_SUPPLY_EN=y
CONFIG_TOUCHSCREEN_SITRONIX_TS_GLOVE=y
CONFIG_TOUCHSCREEN_SITRONIX_TS_GESTURE=y
# CONFIG_FT_SECURE_TOUCH is not set
CONFIG_TOUCHSCREEN_USB_CHECK=y
CONFIG_TOUCHSCREEN_WORK_MODE=y
CONFIG_BACKLIGHT_AW99703=y
#
# Hisense fuse status support
#
CONFIG_MMC_FFU=y

#
# Hisense fingerprint device support
#
CONFIG_HS_FINGERPRINT=y
CONFIG_FINGERPRINT_SUNWAVE=y

CONFIG_SD_ERR_CHECK=y
CONFIG_NFC_NQ=y
CONFIG_HMCT_CAMERA_DEBUG=y
CONFIG_HMCT_LOW_BATTERY_FLASH_CTL=y
