#
# Hisense product Infomation
#
CONFIG_MACH_HISENSE_SMARTPHONE=y
CONFIG_HISENSE_VENDOR_NAME="Hisense"
CONFIG_HISENSE_PRODUCT_NAME="l820"
#
# Hisense charger function support
#
CONFIG_FUSB_30X=y
CONFIG_HISENSE_SGM41512_CHARGER=y
#CONFIG_HISENSE_BATTERY_THERM_NTC_10K is not set

CONFIG_BACKLIGHT_AW99703=y
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_OF_TOUCHSCREEN=y
CONFIG_TOUCHSCREEN_FTS=y
CONFIG_TOUCHSCREEN_FTS_DIRECTORY="focaltech_touch"
CONFIG_TOUCHSCREEN_FTS_GLOVE=y
CONFIG_TOUCHSCREEN_FTS_GESTURE=y
# CONFIG_TOUCHSCREEN_FT5X06 is not set
# CONFIG_FT_INCELL_CHIP is not set
# CONFIG_TOUCHSCREEN_FT5X06_GESTURE is not set
# CONFIG_TOUCHSCREEN_FT5X06_GESTURE_DRIVER is not set
# CONFIG_TOUCHSCREEN_FACE_DETECTION is not set
# CONFIG_TOUCHSCREEN_FT5X06_GLOVE is not set
# CONFIG_TOUCHSCREEN_FT5X06_GFF_PANNEL=y
# CONFIG_TOUCHSCREEN_FT5X06_HALL is not set
# CONFIG_TOUCHSCREEN_FT5X06_PRAMUPDATE is not set
# CONFIG_TOUCHSCREEN_FT5X06_APK_TEST is not set
# CONFIG_TOUCHSCREEN_FT5X06_SUB is not set
# CONFIG_FT_SECURE_TOUCH is not set
CONFIG_TOUCHSCREEN_USB_CHECK=y
CONFIG_TOUCHSCREEN_FTS_FH=y
# CONFIG_TOUCHSCREEN_FT5X06_FH is not set
CONFIG_TOUCHSCREEN_WORK_MODE=y
CONFIG_BACKLIGHT_AW99703=y
#
# Hisense fuse status support
#
CONFIG_QCOM_CHIP_EFUSE=y
CONFIG_MMC_FFU=y

#
# Hisense AP-side sensor support
#
CONFIG_SENSOR_HALL=y

#
# Hisense fingerprint device support
#

CONFIG_SD_ERR_CHECK=y
CONFIG_HISENSE_SD_POWER_OFF_QUICK=y
CONFIG_NFC_NQ=y
CONFIG_HISENSE_QPNP_REG_DEBUG=y
CONFIG_HMCT_CAMERA_DEBUG=y
CONFIG_PROJECTNAME_REPORT=y
CONFIG_HMCT_LOW_BATTERY_FLASH_CTL=y
CONFIG_HMCT_FC_SAFETY_TIMER_1536M=y
